@page "/Login"

@using xTend

<PageTitle>xTend - Login</PageTitle>

<p>&nbsp;</p>
<MudGrid Justify="Justify.Center">
    <MudItem xs="12" sm="6">
        <MudPaper Class="pa-16 ma-2" Elevation="3" xs="5">
            <XTLogin/>
        </MudPaper>
    </MudItem>
</MudGrid>

@code {

}
