@page "/Logout"

@using xTend

<p>&nbsp;</p>
<MudGrid Justify="Justify.Center">
    <MudItem xs="6">
        <MudPaper Class="pa-16 ma-2" Elevation="3" xs="5">
            <XTLogout/>
        </MudPaper>
    </MudItem>
</MudGrid>

@code {

}
